<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- seo title=false -%}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" media="all">
    
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/js/splide.min.js" 
    integrity="sha256-qrjk0UKCPtzZGVo2KWmsEMOAi17/JtNVBl8B7EMTWIM=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide-core.min.css" 
    integrity="sha256-ZAXImCY06SjVuIrJfWUETkyCctX5aGdL1AVEBX5CxZA=" crossorigin="anonymous">
    
    {%- if page.js-preload-files -%}
      {%- for js_file in page.js-preload-files -%}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {%- endfor -%}
    {%- endif -%}

    {%- if layout.js-preload-files -%}
      {%- for js_file in layout.js-preload-files -%}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {%- endfor -%}
    {%- endif -%}

    {%- if page.css-files -%}
      {%- for css_file in page.css-files -%}
      <link rel="stylesheet" src="{{ css_file }}" type="text/css">
      {%- endfor -%}
    {%- endif -%}

    {%- if layout.css-files -%}
      {%- for css_file in layout.css-files -%}
      <link rel="stylesheet" src="{{ css_file }}" type="text/css">
      {%- endfor -%}
    {%- endif -%}

    <link rel="stylesheet" href="{{ '/assets/moxxi.css' | relative_url }}">
    <link rel="icon" href="/portfolio/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/portfolio/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/portfolio/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/portfolio/favicon-16x16.png">
    <link rel="manifest" href="/portfolio/site.webmanifest">
    
    <title>
        {%- if page.tag or page.short-title or page.title -%}
          {%- if page.tag -%}
            {{ page.tag | escape }}
          {%- elsif page.short-title -%}
            {{ page.short-title | escape }}
          {%- else -%}
            {{ page.title | escape }}
        {%- endif -%}
        &nbsp;-&nbsp;
        {%- endif -%}
        {%- if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 -%}
          Page {{ paginator.page }} of {{ paginator.total_pages }} -
        {%- endif -%}
        {{ site.name | escape }}
        {%- unless page.tag or page.title -%}
        &nbsp;-&nbsp;{{ site.description | escape }}
        {%- endunless -%}
    </title>
    
    {%- feed_meta -%}

    {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include snippets/analytics.html -%}
    {%- endif -%}
</head>