{%- if site.paginate -%}
{% assign posts = paginator.posts %}
{%- else -%}
{% assign posts = site.posts %}
{%- endif -%}
{%- if posts.size > 0 -%}
<section id="blog">
    <div id="blog-container" class="content-wrapper mx-auto">
        <div class="row g-0">
            <div class="col-md-8">
                {% assign date_format = site.date_format | default: "%A, %B %e, %Y" %}
                {%- for post in posts -%}
                {%- include sections/blog-article.html post=post -%}
                {%- endfor -%}
                {%- if site.paginate -%}
                {%- include navigation/paginate-default.html -%}
                {%- endif -%}
            </div>
            <div class="col-md-4">
                <aside class="position-sticky sticky-top-offset">
                    {%- if site.categories.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-folder"></i> Categories</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for category in site.categories -%}
                            {% assign categoryURL = '/category/' | relative_url %}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ categoryURL }}{{ {{ category[0] }}">{{ category[0] | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {%- if site.tags.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-tags"></i> Tags</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for tag in site.tags -%}
                            {% assign tagURL = '/tag/' | relative_url %}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ tagURL }}{{ {{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-archive"></i> Archives</h6>
                        <hr class="block-label-hr">
                        <ul class="list-unstyled">
                            {%- for post in site.posts -%}
                            {% assign postDate =  post.date | date: '%Y' %}
                            {% assign yearURL = '/year/' | relative_url %}
                            <li><a class="text-decoration-none" href="{{ postURL }}{{ postDate }}">{{ postDate }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-share"></i> Social</h6>
                        <hr class="block-label-hr">
                        {%- include snippets/share-buttons.html -%}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{%- endif -%}