<div class="angle-top-left"></div>
<section id="contact" class="contact">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <h4>Let's talk</h4>
                <p>Looking to get in touch? Below are a few options to contact me along with my resume for download or viewing directly.</p>
                <hr>
                <ul class="contact-list list-unstyled">
                    <li>
                        <a href="{{ site.mailto_url }}" rel="noopener">
                            <i class="bi bi-envelope"></i><small class="user-select-all"> dave&#64;dcmcdowell&#46;com</small>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.twitter_url }}" target="_blank" rel="noopener">
                            <i class="bi bi-twitter"></i><small class="user-select-all"> {{ site.twitter_username }}</small>
                        </a>
                    </li>
                    <li>
                        <h6 class="block-label"><i class="bi bi-file-text"></i> Resume</h6>
                        <hr class="block-label-hr">
                        <a href="https://github.com/davemcdowell/portfolio/blob/main/assets/docs/DaveMcDowell_Resume.pdf" target="_blank" rel="noopener" download>
                            <small><i class="bi bi-download"></i> Download</small>
                        </a>
                        <span class="user-select-none"> | </span>
                        <a href="..." target="_blank" rel="noopener">
                            <small><i class="bi bi-eye"></i> View</small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                {%- include forms/contact-form.html -%}
            </div>           
        </div>
    </div>
</section>
<div class="back-top text-center">
    <a href="#top">Back to top</a>
</div>