<header>
    <div id="top" class="hero-image" role="img">
        <div class="hero-base"></div>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <hr>
            <h1><strong>{{ include.data.title }}</strong></h1>
            <p class="lead text-muted">{{ include.data.copy }}</p>
            <a class="hvr-sink" href="{{ include.data.link }}" title="Scroll Down"><i class="bi bi-chevron-compact-down icon-3x"></i></a>
        </div>
    </section>
</header>