<header>
    {%- include snippets/hero-image.html -%}
    <section class="jumbotron text-center position-relative">
        <div class="logo-main user-select-none" data-tilt data-tilt-reverse="true" data-tilt-full-page-listening aria-hidden="true">
            <img src="{{ '/assets/icons/dcm-icon.png' | relative_url }}" width="200px" height="200px" alt="" draggable="false">
        </div>
        <div class="container">
            <hr>
            <h1><strong>{{ include.data.title }}</strong></h1>
            <p class="lead text-muted">{{ include.data.copy }}</p>
            <a class="hvr-sink" href="{{ include.data.link }}" title="Scroll Down"><i class="bi bi-chevron-compact-down icon-3x"></i></a>
        </div>
    </section>
</header>