{%- if site.paginate -%}
{% assign posts = paginator.posts %}
{%- else -%}
{% assign posts = site.posts %}
{%- endif -%}
{%- if posts.size > 0 -%}
<section id="blog-main">
    <div id="blog-container" class="mx-auto" style="max-width: 950px;">
        {%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
        {%- for post in posts -%}
        <div class="card text-white bg-default border-0 mb-3">
            <div class="row g-0">
                <div class="col-md-4 p-3">
                    <a href="{{ post.url | relative_url }}"><img src="https://picsum.photos/512/512?random={{ forloop.index }}" class="img-fluid rounded" alt=""></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="link-title" href="{{ post.url | relative_url }}"><h5 class="card-title">{{ post.title | escape }}</h5></a>
                        <p class="card-text mb-0 pb-0"><small class="text-muted">{{ post.date | date: date_format }}</small></p>
                        <hr class="block-label-hr">
                        <p class="card-text">{{ post.excerpt | truncatewords: 150 }}</p>
                        <a class="no-underline" href="{{ post.url | relative_url }}">Read more...</a>
                        <hr class="w-50">
                        <input id="post-{{ forloop.index }}-lmt" type="hidden" value="{{ post.last-modified | date_to_xmlschema }}">
                        <p class="card-text"><small class="text-muted" get-time-since="post-{{ forloop.index }}-lmt" get-time-since-fallback="{{ post.date | date: date_format }}"></small></p>
                    </div>
                </div>
            </div>
        </div>
        {%- endfor -%}
        {%- if site.paginate -%}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {%- if paginator.previous_page -%}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
                    </a>
                </li>
                {%- else -%}
                <li class="page-item disabled">
                    <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
                </li>
                {%- endif -%}
                <li class="page-item">{{ paginator.page }} of {{ paginator.total_pages }}</li>
                {%- if paginator.next_page -%}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
                    </a>
                </li>
                {%- else -%}
                <li class="page-item disabled">
                    <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
                </li>
                {%- endif -%}
            </ul>
        </nav>
        {%- endif -%}
    </div>
</section>
{%- endif -%}