{%- if site.paginate -%}
{% assign posts = paginator.posts %}
{%- else -%}
{% assign posts = site.posts %}
{%- endif -%}
{%- if posts.size > 0 -%}
<section id="blog-main">
    <div id="blog-container" class="mx-auto" style="max-width: 950px;">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
            <div class="card text-white bg-default mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{{ post.url | relative_url }}"><img src="https://picsum.photos/222/148?random=1" class="img-fluid rounded" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="link-title" href="{{ post.url | relative_url }}"><h5 class="card-title">{{ post.title | escape }}</h5></a>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <a href="{{ post.url | relative_url }}">Read more...</a>
                            <p class="card-text"><small class="text-muted">Last updated: 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor -%}
        {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
                {%- else %}
                <li><div class="pager-edge">•</div></li>
                {%- endif %}
                <li><div class="current-page">{{ paginator.page }}</div></li>
                {%- if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
                {%- else %}
                <li><div class="pager-edge">•</div></li>
                {%- endif %}
            </ul>
        </div>
        {%- endif %}
    </div>
</section>
{%- endif -%}