<section id="callout-{{ include.title | slugify }}">
    <div class="callout position-relative d-flex align-items-center rounded">
        <div class="flex-shrink-0">
            <i class="bi {{ include.icon }} icon-3x" style="transform: rotate(35deg);"></i>
        </div>
        <div class="flex-grow-1 ms-4">
            <h3 class="display-6">{{ include.title }}</h3>
            <p class="lead text-muted">{{ include.content }}</p>
            <a class="callout-btn hvr-icon-forward" href="{{ include.link }}">{{ include.link_label }} <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</section>