<h4>Contact</h4>
<form id="contact-form" class="form-horizontal needs-validation" role="form" method="post" action="https://formspree.io/f/xyyvwpkn" novalidate>
    <input type="hidden" name="subject" value="Portfolio Contact">
    <input type="text" name="_gotcha" style="display:none;">
    <div class="row g-2">
        <div class="col-sm-6 mb-2">
            <div id="form-name-group" class="form-floating">
                <input id="form-name" class="form-control" type="text" name="name" placeholder="Name" value="" required>
                <label for="form-name" class="text-muted">Name</label>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a name</div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div id="form-email-group" class="form-floating">
                <input id="form-email" class="form-control" type="email" name="email" placeholder="Email" value="" required>
                <label for="form-email" class="text-muted">Email</label>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a valid email</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mb-2">
            <div id="form-msg-group" class="form-floating">
                <textarea id="form-msg" class="form-control" name="message" placeholder="Message" style="min-height: 77px" required></textarea>
                <label for="form-msg" class="text-muted">Message</label>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a message</div>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-sm-6 mb-2">
            <div id="form-human-group" class="form-floating">
                <input id="form-human" class="form-control" name="human" type="text" pattern="[0-9]+" placeholder="2 + 5 =" required>
                <label for="form-human" class="text-muted">2 + 5 = ?</label>
                <div class="valid-feedback">Close enough!</div>
                <div class="invalid-feedback">You're totally not a robot, right?</div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <button id="form-submit" class="btn btn-outline-light w-100 h-100" name="submit" disabled style="max-height: 58px;">Write Me</button>
        </div>
        <div id="form-response" class="col-sm-12"></div>
    </div>
</form>