<section id="thanks" class="jumbotron text-center">
    <div class="container">
        <p><a class="hvr-float" href="#top" title="Scroll Up" rel="noopener"><i class="bi bi-chevron-compact-up icon-3x"></i></a></p>
        <h1 class="jumbotron-heading"><strong>Thanks for Looking</strong></h1>
        <p class="lead text-muted">
        I hope you've enjoyed my work! Come back soon for updates or visit my <a href="http://dcmcdowell.blogspot.com/" target="_blank" rel="noopener">blog</a>. You can also find me at...
        </p>
        <ul class="list-inline social-list">
            <li class="list-inline-item me-4">
                <a class="hvr-bounce-in" href="{{ site.linkedin_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn" target="_blank" rel="noopener">
                    <i class="bi bi-linkedin icon-2x"></i>
                </a>
            </li>
            <li class="list-inline-item me-4">
                <a class="hvr-bounce-in" href="{{ site.steam_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Steam" target="_blank" rel="noopener">
                    <i class="bi bi-steam icon-2x"></i>
                </a>
            </li>
            <li class="list-inline-item me-4">
                <a class="hvr-bounce-in" href="{{ site.github_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Github" target="_blank" rel="noopener">
                    <i class="bi bi-github icon-2x"></i>
                </a>
            </li>
            <li class="list-inline-item me-4">
                <a class="hvr-bounce-in" href="{{ site.feed }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="RSS" target="_blank" rel="noopener">
                    <i class="bi bi-rss-fill icon-2x"></i>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</section>