<div class="footer-top"></div>
<footer>
    <section id="contact">
        <div class="container py-5">
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <h4>Let's talk</h4>
                    <p>Looking to get in touch? Below are a few options to contact me along with my resume for download or viewing directly.</p>
                    <hr>
                    <ul class="contact-list list-unstyled">
                        <li>
                            <a href="mailto:dave@dcmcdowell.com" rel="noopener">
                                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i><small> dave&#64;dcmcdowell&#46;com</small>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/func_dave" target="_blank" rel="noopener">
                                <i class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"></i><small> @func_dave</small>
                            </a>
                        </li>
                        <li>
                            <h6 class="sort-label"><i class="fa fa-file"></i> Resume</h6>
                            <hr class="sort-title-hr">
                            <a href="..." rel="noopener" download="...">
                                <small><i class="fa fa-download fa-sm fa-fw" aria-hidden="true"></i> Download</small>
                            </a>
                            <span> | </span>
                            <a href="" rel="noopener">
                                <small><i class="fa fa-external-link fa-xs fa-fw" aria-hidden="true"></i> View</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h4>Contact</h4>
                    <form id="contact-form" class="form-horizontal needs-validation" role="form" method="post" action="" novalidate>
                    <div class="row">
                        <div id="form-name" class="col-sm-6 form-group">
                        <input  class="form-control" type="text" name="name" placeholder="Name" value="" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a name</div>
                        </div>
                        <div id="form-email" class="col-sm-6 form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email" value="" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid email</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                        <textarea id="form-msg" class="form-control" rows="4" name="message" placeholder="Message" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a message</div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="form-human" class="col-sm-6 form-group">
                        <input class="form-control" name="human" type="text" placeholder="2 + 3 =" required>
                        <div class="valid-feedback">Close enough!</div>
                        <div class="invalid-feedback">Please prove you're totally not a robot</div>
                        </div>
                        <div class="col-sm-6 form-group">
                        <button id="form-submit" class="btn btn-default w-100" name="submit">Send</button>
                        </div>
                        <div id="form-response" class="col-sm-12">

                        </div>
                    </div>
                    </form>
                </div>           
            </div>
        </div>
    </section>
</footer>
<div class="back-to-top">
    <a href="#top">Back to top</a>
</div>