<header>
    <div id="top" class="hero-image">
        <div class="hero-base"></div>
    </div>
    <section class="fade-scroll jumbotron text-center">
        <div class="container">
            <hr>
            <h1><strong>Dave McDowell</strong></h1>
            <p class="lead text-muted">I'm a designer and game developer from Seattle, and you've just found my portfolio—scroll down to see more of my work.</p>
            <a class="hvr-sink" href="#work" title="Scroll Down"><i class="bi bi-chevron-compact-down icon-3x" aria-hidden="true"></i></a>
        </div>
    </section>
</header>