<header>
    <div id="top" class="hero-image">
        <div class="hero-base"></div>
    </div>
    <section class="jumbotron text-center">
        <div data-tilt data-tilt-reverse="true" data-tilt-full-page-listening>
            <img src="{{ '/assets/icons/dcm-icon.png' | relative_url }}" width="128px" height="128px" alt="logo">
        </div>
        <div class="container">
            <hr>
            <h1><strong>{{ include.title }}</strong></h1>
            <p class="lead text-muted">{{ include.content }}</p>
            <a class="hvr-sink" href="{{ include.link }}" title="Scroll Down"><i class="bi bi-chevron-compact-down icon-3x"></i></a>
        </div>
    </section>
</header>