<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div id="glb-nav" class="collapse navbar-collapse w-50 order-1 order-md-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand nav-link hvr-bounce-in d-none d-lg-block" href="#top" rel="noopener">
                        <img loading="lazy" src="{{ 'portfolio/assets/icons/dcm-icon.png' | relative_url }}" width="32px" height="32px" alt="logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#work">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#contact">CV / Contact</a>
                </li>
            </ul>
        </div>

        <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1"><strong>Dave McDowell</strong></a>

        <div class="collapse navbar-collapse w-50 order-2">
            <ul class="nav navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link hvr-bounce-in" href="https://www.linkedin.com/in/davecmcdowell" target="_blank" rel="noopener"><i class="bi bi-linkedin"></i></a></li>
            <li class="nav-item"><a class="nav-link hvr-bounce-in" href="https://steamcommunity.com/id/cptyossarian/" target="_blank" rel="noopener"><i class="bi bi-steam"></i></a></li>
            <li class="nav-item"><a class="nav-link hvr-bounce-in" href="https://github.com/davemcdowell" target="_blank" rel="noopener"><i class="bi bi-github"></i></a></li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#glb-nav" aria-controls="glb-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>