<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target=".dual-nav" aria-controls="dual-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand nav-link hvr-bounce-in d-none d-lg-block" href="#top" rel="noopener">
            <img loading="lazy" src="images/icons/dcmIconWhite.png" width="32px" height="32px" alt="dmcdowell logo">
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-inline-block" href="#work">Work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-inline-block" href="#contact">CV / Contact</a>
        </li>
        </ul>
    </div>

    <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1"><strong>Dave McDowell</strong></a>

    <div class="navbar-collapse collapse w-50 order-2">
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link hvr-bounce-in" href="https://www.linkedin.com/in/davecmcdowell"><i class="fa fa-linkedin fa-lg fa-fw"></i></a></li>
        <li class="nav-item"><a class="nav-link hvr-bounce-in" href="http://steamcommunity.com/id/cptyossarian/"><i class="fa fa-steam fa-lg fa-fw"></i></a></li>
        <li class="nav-item"><a class="nav-link hvr-bounce-in" href=""><i class="fa fa-github fa-lg fa-fw"></i></a></li>
        </ul>
    </div>
</nav>