<style>
    .splide__arrow {
        -ms-flex-align: center;
        align-items: center;
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 2.5em;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5em;
        z-index: 1;
      }
      .splide__arrow svg {
        fill: #20b2aa;
        height: 2.5em;
        transition: fill 0.2s linear;
        width: 2.5em;
      }
      .splide__arrow:hover:not(:disabled) svg {
        fill: #57e1d9;
      }
      .splide__arrow:disabled {
        opacity: 0.3;
      }
      .splide__arrow:focus-visible {
        outline: 3px solid #20b2aa;
        outline-offset: 3px;
      }
      .splide__arrow--prev {
        left: 1em;
      }
      .splide__arrow--prev svg {
        transform: scaleX(-1);
      }
      .splide__arrow--next {
        right: 0;
      }
      .splide.is-focus-in .splide__arrow:focus {
        outline: 3px solid #20b2aa;
        outline-offset: 3px;
      }

</style>
<section id="portfolio-main" class="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div id="portfolio-container" class="row">
                    <section class="splide" aria-label="Slide Container Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img src="https://picsum.photos/445/296?random=1">
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                    <img src="https://picsum.photos/445/296?random=2">
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                    <img src="https://picsum.photos/445/296?random=3">
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                    <img src="https://picsum.photos/445/296?random=4">
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                            </ul>
                        </div>
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev hvr-backward"><i class="bi bi-chevron-left icon-2x"></i></button>
                            <button class="splide__arrow splide__arrow--next hvr-forward"> <i class="bi bi-chevron-right icon-2x"></i></button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>