<section id="portfolio-main" class="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div id="portfolio-container" class="row">

                    <section class="splide" aria-label="Slide Container Example">
                        <div class="splide__track">
                          <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="https://picsum.photos/300/200">
                              Lorem Ipsum Dolor Sit Amet
                            </li>
                            <li class="splide__slide">
                                <img src="https://picsum.photos/300/200">
                              Lorem Ipsum Dolor Sit Amet
                            </li>
                            <li class="splide__slide">
                                  <img src="https://picsum.photos/300/200">
                                Lorem Ipsum Dolor Sit Amet
                              </li>
                              <li class="splide__slide">
                                  <img src="https://picsum.photos/300/200">
                                Lorem Ipsum Dolor Sit Amet
                              </li>
                          </ul>
                        </div>
                        <div class="splide__arrows"></div>
                      </section>

                </div>
            </div>
        </div>
    </div>
</section>