<style>
    .splide__arrow {
        -ms-flex-align: center;
        align-items: center;
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 2.5em;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5em;
        z-index: 1;
      }
      .splide__arrow i {
        color: ghostwhite;
        height: 2.5em;
        transition: color 0.2s linear;
        width: 2.5em;
      }
      .splide__arrow:hover:not(:disabled) i {
        color: gainsboro;
      }
      .splide__arrow:disabled {
        opacity: 0.3;
      }
      .splide__arrow:focus-visible {
        outline: 3px solid ghostwhite;
        outline-offset: 3px;
      }
      .splide__arrow--prev {
        left: 1em;
      }
      .splide__arrow--next {
        right: 1em;
      }
      .splide.is-focus-in .splide__arrow:focus {
        outline: 3px solid ghostwhite;
        outline-offset: 3px;
      }
      .splide__slide .is-active .is-visible {
        border: 2px solid ghostwhite !important;
      }
      .splide:not( .is-overflow ) .splide__list {
        justify-content: center;
      }
      .splide:not( .is-overflow ) .splide__slide:last-child {
        margin: 0 !important;
      }
</style>
<section id="portfolio-main" class="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div id="portfolio-container" class="row">
                  <section>
                    <div class="splide mx-auto" aria-labelledby="carousel-heading">
                      <h2 id="carousel-heading" class="block-label">Level Design</h2>
                      <hr class="block-label-hr">
                      <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev"><i class="bi bi-chevron-left icon-2x"></i></button>
                        <button class="splide__arrow splide__arrow--next"><i class="bi bi-chevron-right icon-2x"></i></button>
                      </div>
                      <div class="splide__track mx-0">
                        <ul class="splide__list">
                          <li class="splide__slide">
                            <div class="splide__slide__container">
                              <img src="https://picsum.photos/445/296?random=1">
                            </div>
                            <div class="splide__slide__content">Nibh veri dolor in eam. At homero volumus eos, ea vix quas omnes temporibus.</div>
                          </li>
                          <li class="splide__slide">
                            <div class="splide__slide__container">
                              <img src="https://picsum.photos/445/296?random=2">
                            </div>
                            <div class="splide__slide__content">Nibh veri dolor in eam. At homero volumus eos, ea vix quas omnes temporibus.</div>
                          </li>
                          <li class="splide__slide">
                            <div class="splide__slide__container">
                              <img src="https://picsum.photos/445/296?random=3">
                            </div>
                            <div class="splide__slide__content">Nibh veri dolor in eam. At homero volumus eos, ea vix quas omnes temporibus.</div>
                          </li>
                          <li class="splide__slide">
                            <div class="splide__slide__container">
                              <img src="https://picsum.photos/445/296?random=4">
                            </div>
                            <div class="splide__slide__content">Nibh veri dolor in eam. At homero volumus eos, ea vix quas omnes temporibus.</div>
                          </li>                        
                        </ul>
                      </div>
                    </div>
                  </section>
                  <!--
                    <section class="splide" aria-label="Slide Container Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <div class="splide__slide__container">
                                      <img src="https://picsum.photos/445/296?random=1">
                                    </div>
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                  <div class="splide__slide__container">
                                    <img src="https://picsum.photos/445/296?random=2">
                                  </div>
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                  <div class="splide__slide__container">
                                    <img src="https://picsum.photos/445/296?random=3">
                                  </div>
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                                <li class="splide__slide">
                                  <div class="splide__slide__container">
                                    <img src="https://picsum.photos/445/296?random=4">
                                  </div>
                                    Lorem Ipsum Dolor Sit Amet
                                </li>
                            </ul>
                        </div>
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev"><i class="bi bi-chevron-left icon-2x"></i></button>
                            <button class="splide__arrow splide__arrow--next"> <i class="bi bi-chevron-right icon-2x"></i></button>
                        </div>
                    </section>
                  -->
                </div>
            </div>
        </div>
    </div>
</section>