<section id="thanks" class="jumbotron text-center">
    <div class="container">
        <p><a class="hvr-float" href="#top" title="Jump Up" rel="noopener"><i class="fa fa-chevron-up fa-4x fa-fw" aria-hidden="true"></i></a></p>

        <h1 class="jumbotron-heading"><strong>Thanks for Looking!</strong></h1>
        <p class="lead text-muted">
        I hope you've enjoyed my work! Come back soon for updates or visit my <a href="http://dcmcdowell.blogspot.com/" target="_blank" rel="noopener">blog</a>. You can also find me at...
        </p>

        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="https://www.linkedin.com/in/davecmcdowell" data-toggle="tooltip" data-placement="bottom" title="LinkedIn" target="_blank" rel="noopener">
                <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="http://steamcommunity.com/id/cptyossarian/" data-toggle="tooltip" data-placement="bottom" title="Steam" target="_blank" rel="noopener">
                <i class="fa fa-steam fa-2x fa-fw" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="https://sketchfab.com/dmcdowell" data-toggle="tooltip" data-placement="bottom" title="Github" target="_blank" rel="noopener">
                <img src="images/icons/Icon-Sketchfab-light.png" alt="Sketchfab Icon" width="32px" height="32px">
                </a>
            </li>
        </ul>
        <hr>
    </div>
</section>