<section id="thanks" class="jumbotron text-center">
    <div class="container">
        <p><a class="hvr-float" href="#top" title="Jump Up" rel="noopener"><i class="bi bi-chevron-compact-up icon-3x" aria-hidden="true"></i></a></p>
        <h1 class="jumbotron-heading"><strong>Thanks for Looking!</strong></h1>
        <p class="lead text-muted">
        I hope you've enjoyed my work! Come back soon for updates or visit my <a href="http://dcmcdowell.blogspot.com/" target="_blank" rel="noopener">blog</a>. You can also find me at...
        </p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="{{ site.linkedin_url }}" data-toggle="tooltip" data-placement="bottom" title="LinkedIn" target="_blank" rel="noopener">
                    <i class="bi bi-linkedin icon-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="{{ site.steam_url }}" data-toggle="tooltip" data-placement="bottom" title="Steam" target="_blank" rel="noopener">
                    <i class="bi bi-steam icon-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="hvr-bounce-in nav-link" href="{{ site.github_url }}" data-toggle="tooltip" data-placement="bottom" title="Github" target="_blank" rel="noopener">
                    <i class="bi bi-github icon-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</section>