/* globals */
:root {
  --bg-color-dark: #212121;
  --bg-color-darker: #1b1b1b;
  --bg-color-darkest: #141414;
  --bg-color-offset: #2e2e2e;
  --bg-color-offset-darker: #1c1c1c;
  --bg-color-nav: #171a21;
  --bg-light-color: #949494;

  --accent-type-color: #ffcc00;
  --white-type-color: #ffffff;
  --default-type-color: #f8f8ff;
  --lighter-type-color: #6c757d;

  --card-highlight-color: #383838;
  --card-border-hover-color: #666666;

  --navbar-offset: 62px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--default-type-color);
}

hr {
  border: none;
  height: 1px !important;
  color: var(--default-type-color);
  background-color: var(--default-type-color);
}

a {
  font-size: inherit;
  color: var(--default-type-color);
  margin-bottom: 0;
}

a:hover, a:focus, a:active { color: var(--white-type-color); }

main { padding-top: var(--navbar-offset); }
img { color: transparent; }

pre {
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  padding: 1rem;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 1px -3px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px -3px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-item i,
.nav-item a {
  color: var(--default-type-color);
}

.navbar-dark .navbar-nav .nav-link { color: ghostwhite; }

.navbar-toggler {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.nav-link i { font-size: 1.25em; }
.content-wrapper { max-width: 950px; }

/* hero */
.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("");
  height: 520px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-base {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  background-color: var(--bg-color-dark);
  -webkit-clip-path: polygon(0% 95%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 95%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-base-faded {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  background-image: linear-gradient(rgba(33, 33, 33, 0.75), rgb(33, 33, 33, 1.0));
  border-top: 1px solid rgba(0, 0, 0, .25);
}

/* utils */
.sticky-top-offset { top: var(--navbar-offset); }
.outline-0,.outline-0:hover,.outline-0:active,.outline-0:focus { outline: none !important; }
.z-90 { z-index: 90 !important; }

/* home logo */
.logo-main {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: -28%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

/* graphical */
.angle-top-left {
  display: block;
  width: 100%;
  height: 48px;
  background-color: var(--bg-color-darkest);
  -webkit-clip-path: polygon(0 0, 100% 92%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 92%, 100% 100%, 0% 100%);
}

.bg-default { background-color: var(--bg-color-dark)!important; }
.bg-offset { background-color: var(--bg-color-offset-darker)!important; }
.bg-offset-a { background-color: rgba(0, 0, 0, 0.12)!important; }
.bg-navbar { background-color: var(--bg-color-nav) !important; }
.bg-blur { 
  color: var(--default-type-color);
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.bg-blur button {
  color: var(--default-type-color);
}
.bg-blur button:hover {
  color: var(--white-type-color);
}

.bs-sm {
  -webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1), 
  0 1px 4px hsla(0, 0%, 0%, 0.1), 
  0 2px 8px hsla(0, 0%, 0%, 0.1);
          box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1), 
  0 1px 4px hsla(0, 0%, 0%, 0.1), 
  0 2px 8px hsla(0, 0%, 0%, 0.1);
}

.bs-inner-hover {
  -webkit-box-shadow: inset 0px 0px 10px 5px rgba(255,255,255,0.01); 
  box-shadow: inset 0px 0px 10px 5px rgba(255,255,255,0.01);
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.bs-inner-hover:hover
.bs-inner-hover:active,
.bs-inner-hover:focus {
  -webkit-box-shadow: inset 0px 0px 15px 4px rgba(255,255,255,0.95); 
  box-shadow: inset 0px 0px 15px 4px rgba(255,255,255,0.95);
}

.highlight-border {
  border: 1px solid var(--bg-color-dark);
  background-color: solid var(--bg-color-dark);
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.highlight-border:hover {
  border: 1px solid var(--card-border-hover-color);
  background-color: var(--card-highlight-color);
}

.highlight-border:active,
.highlight-border:focus {
    border: 1px solid var(--default-type-color);
    background-color: var(--card-highlight-color);
}

.bs-sm-hover {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bs-sm-hover:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.overflow-y-visible { overflow-y: visible !important; }
.overflow-x-hidden { overflow-x: hidden !important; }

/* typography */
.icon-xs { font-size: 0.8em; }
.icon-1x { font-size: 1em; }
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }

.icon-bg-sm {
  display: inline-block;
  width: 32px; 
  height: 32px; 
  background-color: rgba(0, 0, 0, 0.12);
}

.icon-bg-xs {
  display: inline-block;
  width: 24px; 
  height: 24px; 
  background-color: rgba(0, 0, 0, 0.12);
}

.shadow-text { text-shadow: 0.0125em 0.0125em rgba(0,0,0,0.2); }

.btn-icon {
  display: inline-block;
  color: var(--lighter-type-color);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn-icon:hover { color: var(--default-type-color); }

.btn-blur {
  color: var(--default-type-color);
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid transparent;
  backdrop-filter: blur(10px);
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-blur:hover {
  border: 1px solid var(--white-type-color);
  color: var(--white-type-color);
}

.block-label {
  display: inline-block;
  background-color: var(--default-type-color);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--bg-color-dark);
  padding: 6px 8px 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 24px;
  vertical-align: middle;
  margin-bottom: 0;
}

.block-label-hr {
  margin-top: 0;
  padding-top: 0;
}

.block-title {
  position: absolute;
  left: 5%;
  top: -9px;
  height: 18px;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--default-type-color);
  background-color: var(--bg-color-offset-darker);
}

.link-title {
  color: var(--white-type-color);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 500;
  max-height: 4.4rem;
  overflow: hidden;
  display: inline-block;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: normal;
}

.meta-data {
  color: var(--lighter-type-color);
  font-size: 1rem;
}

.txt-color-default { color: var(--default-type-color) !important; }
.accent-text { color: var(--accent-type-color) !important; }
.left-border-accent { border-left: 2px solid var(--accent-type-color); }
.fs-small { font-size: .875em !important; }
.feedback-text {
  display: none;
  position: absolute;
  left: 28px;
  pointer-events: none;
  font-size: 0.75em;
  color: var(--default-type-color) !important;
}

/* share buttons */
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
#share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

/* jumbotron */
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: var(--bg-color-dark);
}

.jumbotron.small {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: var(--bg-color-dark);
}

.jumbotron h1 {
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron .container { max-width: 40rem; }

.jumbotron a {
  color: var(--default-type-color);
  margin-bottom: 0;
}

.jumbotron a:hover:not(.btn) { color: var(--white-type-color); }

/* modal */
.modal-content {
  background-color: var(--bg-color-dark);
  color: var(--default-type-color);
}

/* callout */
.callout {
  position: relative;
  color: var(--lighter-type-color); 
  border: 1px solid var(--bg-color-offset);
  overflow: hidden;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  background: url("") no-repeat center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
}

.callout-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45ss ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.callout-bg::after {
  position: relative;
  content: "";
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(330deg, #eaee44, #33d0ff);
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  background-color: var(--bg-color-offset);
  opacity: 0.15;
  -moz-opacity: 0.15;
  -khtml-opacity: 0.15;
}

.callout:hover .callout-bg {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.callout-body {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--default-type-color);
  z-index: 1;
}

.callout-body h3 { color: ghostwhite; font-weight: 600; }
.callout-body p { color: var(--default-type-color); }
.callout-body i { color: var(--default-type-color); }

/* portfolio */
.portfolio {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* portfolio-slider */
.splide__arrow {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 2.5em;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5em;
  z-index: 1;
}

.splide__arrow i {
  color: ghostwhite;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.splide__arrow:hover:not(:disabled) i { color: gainsboro; }
.splide__arrow:disabled { opacity: 0.3; }

.splide__arrow:focus-visible {
  outline: 3px solid ghostwhite;
  outline-offset: 3px;
}

.splide__arrow--prev { left: 0.5em; }
.splide__arrow--next { right: 0.5em; }

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid ghostwhite;
  outline-offset: 3px;
}

.splide__track {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin: 0 !important;
}

.splide:not(.is-overflow) .splide__list { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.splide .splide__slide:last-child { margin: 0 !important; }
.splide__slide .splide__slide__container img,
.splide__slide .splide__slide__container a img {
  width: 100%;
  height: auto;
}

.slider-progress {
  background: #ccc;
  margin-bottom: 1rem;
  -webkit-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
  width: 0;
}

.slider-progress-bar {
  background: var(--default-type-color);
  height: 1px;
}

/* main gallery slider */
.main-slider .splide__slide img { width: 100% !important; z-index: 50; }

/* gallery thumbanil slider */
.gallery-slider .splide__slide {
  position: relative;
  text-align: center;
  opacity: 0.75;
  border: 2px solid var(--card-border-hover-color);
  -webkit-transition: border 0.35s ease-in-out, opacity 0.25s ease;
  -o-transition: border 0.35s ease-in-out, opacity 0.25s ease;
  transition: border 0.35s ease-in-out, opacity 0.25s ease;
}

.gallery-slider .splide__slide.is-active { border: 2px solid var(--default-type-color); opacity: 1.0; }
/*.gallery-slider .splide__slide.is-active::after  {

}*/

.gallery-slider .splide__slide.thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* video extension */
.splide__slide--has-video {
  background-color: var(--bg-color-darker);
  border-radius: .25rem !important;
}

.splide__video__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  border: none;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  color: var(--default-type-color);
  background-color: var(--bg-color-darkest);
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  -webkit-transform: translateY(-50%, -50%);
      -ms-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
}

.splide__video__play::after { 
  font-family: "bootstrap-icons";  
  font-size: 1.8rem; 
  line-height: 3em; 
  content: '\F4F4'; 
  margin: 0 auto;
}

/* cubemap extension */
.splide__slide--has-cubemap {
  background-color: var(--bg-color-darker);
  border-radius: .25rem !important;
}

.splide__cubemap__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  border: none;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  color: var(--default-type-color);
  background-color: var(--bg-color-darkest);
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  -webkit-transform: translateY(-50%, -50%);
      -ms-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
}

.splide__cubemap__play::after { 
  font-family: "bootstrap-icons";  
  font-size: 1.2rem; 
  line-height: 3em; 
  content: '\F1C8';
  margin: 0 auto;
}

.splide__cubemap__wrapper .navbar .form-range::-ms-thumb {  
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--default-type-color);
}
.splide__cubemap__wrapper .navbar .form-range::-webkit-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--default-type-color);
}
.splide__cubemap__wrapper .navbar .form-range::-moz-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--default-type-color);
}

.splide__cubemap__wrapper .navbar .form-range::-ms-track {
  height: 0.25rem;
}
.splide__cubemap__wrapper .navbar .form-range::-webkit-range-track {
  height: 0.25rem;
}
.splide__cubemap__wrapper .navbar .form-range::-moz-range-track {
  height: 0.25rem;
}

.splide__slide--has-cubemap canvas {
  width: 100%;
  height: 100%;
  max-height: 475px;
  background-color: gray;
}

.splide__slide--has-cubemap canvas {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.splide__slide--has-cubemap canvas:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* project-card */
.project-card img:not(.project-avatar) {
  height: 296px;
}

.project-avatar { max-width: 36px; max-height: 36px; }

.crossfade-wrap { position: relative; }
.crossfade-wrap .cf-link-top img { z-index: 5; position: relative; -webkit-transition: opacity 0.35s ease-in-out; -o-transition: opacity 0.35s ease-in-out; transition: opacity 0.35s ease-in-out; -webkit-transition-delay: 0.25s; -o-transition-delay: 0.25s; transition-delay: 0.25s; }
.crossfade-wrap .cf-link-btm img { z-index: 0; position: absolute; left: 0; }
.crossfade-wrap .cf-link-top:hover img { opacity: 0; }

/* project data */
.project-data span {
    color: var(--lighter-type-color);
    font-size: 1rem;
}

.project-data .title a {
  color: var(--white-type-color);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.55rem;
  font-weight: 500;
  max-height: 4.4rem;
  display: inline-block;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: normal;
}

.project-data span:not(.title) { display: inline; }
.project-data span:not(:last-of-type):not(.title)::after {
  content: "•";
  margin: 0 4px;
}

/* thumbnail cards */
.thumbnail-card { position: relative; }

.thumbnail-card img {
  opacity: 0.75;
  background-color: var(--bg-color-darker);
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; 
}

.thumbnail-card:hover img { opacity: 1; }

/* contact section */
.contact { background-color: var(--bg-color-darkest); }

.contact p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--lighter-type-color);
}

.contact h4 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--default-type-color);
}

.contact hr { border-color: var(--default-type-color); }

/* contact form */
.contact-list {
  font-size: 1.2rem;
  vertical-align: middle;
}

.contact-list li { padding-bottom: 1rem; }
.contact-list li span { color: var(--lighter-type-color); }

.contact-list li a {
  font-weight: lighter;
  text-decoration: none;
  color: var(--lighter-type-color);
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

.contact-list li a:hover { color: var(--default-type-color); }

input,
input:focus,
input:hover,
input:active,
textarea,
textarea:focus,
textarea:hover,
textarea:active,
.form-control {
  color: var(--white-type-color) !important;
}

form input[type="text"],
form input[type="email"],
form textarea {
  outline: none;
  border: none !important;
  width: 100%;
  background-color: var(--bg-color-dark) !important;
}

form button {
  background-color: var(--bg-color-offset);
  color: var(--default-type-color);
}

form button:hover,
form button:focus,
form button:active {
  border-color: var(--default-type-color);
}

#form-response .success { border: 1px dashed var(--lighter-type-color); }
#form-response .error { border: 1px dashed var(--lighter-type-color); }

/* about */
.cv-item-logo { max-width: 48px; max-height: 48px; }
.link-pill { border-radius: 50px; }
.link-pill:hover { color: var(--bg-color-dark) !important;  }

/* footer */
footer { background-color: var(--bg-color-dark); }

footer p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--lighter-type-color);
}

footer a,
footer a {
  color: var(--lighter-type-color);
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: var(--default-type-color);
}

footer h4 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--default-type-color);
}

footer textarea { resize: vertical; }

/* back top */
.back-top {
  position: relative;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.92rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--default-type-color);
  background-color: var(--bg-color-dark);
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.back-top:hover { background-color: var(--bg-color-offset); }
.back-top:hover::after { border-bottom-color: var(--bg-color-offset); }

.back-top a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--default-type-color);
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back-top::after {
  cursor: default;
  z-index: 99;
  pointer-events: none;
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
  -webkit-clip-path: polygon(50% 90%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 90%, 0% 100%, 100% 100%);
}

/* animation */
.trans-default { -webkit-transition: all 0.35s ease-in-out; -o-transition: all 0.35s ease-in-out; transition: all 0.35s ease-in-out; }
.rotate {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.rotate.r180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

/* hover.css  */
.hvr-underline-from-center::before { background-color: var(--accent-type-color); height: 2px; }