---
layout: default
title: Archive
---
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-lg-offset-1">
      <section class="recent-posts">
        <div class="section-title mt-2">
          <h2>Archive of posts from<span>{{ page.type }} '{{ page.title }}'</span></h2>
        </div>
        <div class="row">
          {%- for post in site.posts -%} 
          {% assign postyear = post.date | date:"%Y" %} 
          {%- if postyear == page.year -%} 
          {%- include snippets/archive-card.html -%} 
          {%- endif -%} 
          {%- endfor -%}
        </div>
      </section>
    </div>
  </div>
</div>
