<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="dark-theme">
  {%- include meta/head.html -%}
  <body>
    {%- include navigation/navbar.html -%}
    <main id="main">
        {{ content }}
    </main>
    {%- include sections/footer.html -%}
    {%- include dialogs/credits-modal.html -%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/js/app.js' | relative_url }}"></script>
    {%- if page.js-postload-files -%}
      {%- for js_file in page.js-postload-files -%}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {%- endfor -%}
    {%- endif -%}
    {%- if layout.js-postload-files -%}
      {%- for js_file in layout.js-postload-files -%}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {%- endfor -%}
    {%- endif -%}    
  </body>
</html>