---
layout: default
js-preload-files:
  - https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/js/splide-extension-video.min.js
  - /portfolio/assets/js/splide-extension-cubemap.js
js-postload-files: 
  - /portfolio/assets/js/gallery.js
  - /portfolio/assets/js/time.js
  - https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js
css-files:
  - https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/css/splide-extension-video.min.css
  - https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css
---
{% assign date_format = site.date_format | default: "%A, %B %e, %Y" %}
{% assign videos = page.media | where: "type", "video" %}
{% assign images = page.media | where: "type", "image" %}
{% assign cubemaps = page.media | where: "type", "cubemap" %}
<section id="gallery-main">
    <div id="gallery-container" class="content-wrapper my-4 mx-auto">
        <div class="row g-0">
            <div class="col-md-8">
                <article class="gallery p-4 p-lg-0">
                    {%- include snippets/breadcrumbs.html -%}
                    <div class="left-border-accent ps-3 mb-2">
                        <h2 class="gallery-title display-3 mb-0">{{ page.title }}</h2>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div>
                                <p class="gallery-meta lead mb-0"><small class="text-muted"><span class="accent-text fw-bolder">{{ page.game}}</span> | {{ page.year }}</small></p>
                            </div>
                            <div>
                            {%- include snippets/share-buttons.html -%}
                            </div>
                        </div>
                    </div>
                    <hr class="block-label-hr">
                    <section id="main-slide" class="main-slider splide" aria-label="Gallery main slide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {%- for cube in cubemaps -%}
                                <li class="splide__slide" data-splide-cubemap="...">
                                    <img src="{{ cube.src }}" class="rounded bs-sm" alt="{{ cube.src_alt }}">
                                </li>                               
                                {%- endfor -%}
                                {%- for vid in videos -%}
                                <li class="splide__slide" data-splide-youtube="{{ vid.src }}">
                                    <img src="{{ vid.src }}" class="rounded bs-sm" alt="{{ vid.src_alt }}">
                                </li>
                                {%- endfor -%}
                                {%- for img in images -%}
                                <li class="splide__slide">
                                    <img src="{{ img.src }}" class="rounded bs-sm" alt="{{ img.alt }}">
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </section>
                    <section id="thumbnail-slide" class="gallery-slider splide" aria-label="Gallery thumbnail slide">
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev me-2"><i class="bi bi-chevron-left icon-2x"></i></button>
                            <button class="splide__arrow splide__arrow--next ms-2"><i class="bi bi-chevron-right icon-2x"></i></button>
                        </div>
                        <div class="position-relative mt-2">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {%- for cube in cubemaps -%}
                                    <li class="splide__slide thumbnail">
                                        <img src="{{ cube.thumbnail }}" alt="{{ cube.src_alt }}">
                                    </li>                               
                                    {%- endfor -%}
                                    {%- for vid in videos -%}
                                    <li class="splide__slide thumbnail video">
                                        <img src="{{ vid.thumbnail }}" alt="{{ vid.thumbnail_alt }}">
                                    </li>
                                    {%- endfor -%}
                                    {%- for img in images -%}
                                    <li class="splide__slide thumbnail">
                                        <img src="{{ img.thumbnail }}" alt="{{ img.thumbnail_alt }}">
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <h2>About {{ page.title }}</h2>
                    {{ page.content }}
                    <hr class="mb-0">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <input id="{{ page.title | slugify }}-lmt" type="hidden" value="{{ page.last-modified | date_to_xmlschema }}">
                            <p><small class="text-muted" get-time-since="{{ page.title | slugify }}-lmt" get-time-since-fallback="{{ page.date | date_to_xmlschema }}"></small></p>
                        </div>
                        <div>
                            {%- include snippets/like-button.html -%}
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <aside class="position-sticky sticky-top-offset">
                    {%- if page.summary -%}
                    <div class="p-3 m-4 rounded bg-offset">
                        <h4>Summary</h4>
                        <p>{{ page.summary }}</p>
                    </div>
                    {%- endif -%}
                    {%- if page.categories.size > 0 or page.category -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-folder"></i> Category</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- if page.categories -%}
                                {%- for category in page.categories -%}
                                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ category.url }}">{{ category }}</a></li>
                                {%- endfor -%}
                            {%- elsif page.category -%}
                                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{  page.category.url }}">{{  page.category }}</a></li>
                            {%- endif -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {%- if page.tags.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-tags"></i> Tags</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for tag in page.tags -%}
                            <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ tag.url }}">{{ tag | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    <div class="p-4 d-block d-md-none">
                        <h6 class="block-label"><i class="bi bi-share"></i> Share</h6>
                        <hr class="block-label-hr">
                        {%- include snippets/share-buttons.html -%}
                    </div>
                </aside>
            </div>
        </div>
    </div>
    {% assign enderData = site.data.content.gallery.ender %}
    {%- include sections/ender.html data=enderData -%}
    <div class="container mb-4">
        <div id="suggest-list" class="row g-4 justify-content-around">
            <template id="suggest-template">
                <div class="col-sm-12 col-md-4">
                    <div class="thumbnail-card highlight-border rounded text-center p-1 h-100">
                      <img class="img-portfolio rounded mb-2" src="..." alt="..." width="350" height="230" loading="lazy">
                      <a href="..." class="text-decoration-none stretched-link"><strong></strong><small class="text-muted"></small></a>
                    </div>
                  </div>
            </template>
        </div>
    </div>
</section>
{%- include sections/contact.html -%}
{% assign suggestions = "" | split: ',' %}
{%- for item in site[page.collection] -%}
{%- unless item.url == page.url -%}
{% assign suggestions = suggestions | push: item %}
{%- endunless -%}
{%- endfor -%}
<script id="suggest-json" type="application/json">
[
{%- for item in suggestions -%}
    {% assign images = item.media | where: "type", "image" %}
    {% assign image = images.first %}
    {% raw %}
    {
    {% endraw %}
        "url": "{{ site.baseurl }}{{ item.url }}",
        "title": {{ item.title | jsonify }},
        "subject": {{ item.game | jsonify }},
        "image": {{ image.thumbnail | jsonify }},
        "alt": {{ image.thumbnail_alt | jsonify }}
    {% raw %}
    }
    {% endraw %}
    {%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}
]
</script>