---
layout: default
js-postload-files: 
  - /portfolio/assets/js/home.js
---
{%- include sections/logo-header.html title="Dave McDowell" content="I'm a designer and game developer from Seattle, and you've just found my portfolio—scroll down to see some of my work." link="#portfolio-main" -%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-lg-offset-1">
            {% capture blogURL %}{{ '/blog/' | relative_url }}{% endcapture %}
            {%- include snippets/callout.html title="&lt;Blog&gt;" content="Check out my blog for updates on current work and probably other stuff that's probably blog-worthy, probably." leftToRight="true" icon="bi-megaphone" link=blogLink link_label="View Blog" -%}
            {%- include sections/portfolio-main.html -%}
            {% capture downloadsURL %}{{ '/downloads/' | relative_url }}{% endcapture %}
            {%- include snippets/callout.html title="Downloads" content="" leftToRight=false icon="bi-download" link=downloadsURL link_label="Downloads" -%}
        </div>
    </div>
</div>
{% capture homeEndText %}I hope you've enjoyed my work! Come back soon for updates or visit my <a href="{{ '/blog/' | relative_url }}">blog</a>. You can also find me at...{% endcapture %}
{%- include sections/ender.html title="Thanks for Looking" content=homeEndText -%}
{%- include sections/contact.html -%}