---
layout: default
title: Home
permalink: /home/
---
{%- include header.html title="Dave McDowell" content="I'm a designer and game developer from Seattle, and you've just found my portfolio—scroll down to see some of my work." -%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-lg-offset-1">
            {% assign blogLink = {{ '/blog/' | relative_url }} %}
            {%- include callout.html title="&lt;Blog&gt;" content="Check out my blog for updates on current work and probably other stuff that's probably blog-worthy, probably." icon="bi-megaphone" link=blogLink link_label="View Blog" -%}
            {%- include portfolio-main.html -%}
        </div>
    </div>
</div>
{%- include ender.html title="Thanks for Looking" content="I hope you've enjoyed my work! Come back soon for updates or visit my blog. You can also find me at..." -%}
{%- include contact.html -%}