---
layout: default
js-postload-files: 
  - /portfolio/assets/js/home.js
---
{% assign headerTitle = site.data.content.main.header.title %}
{% assign headerCopy = site.data.content.main.header.copy %}
{%- include sections/logo-header.html title=headerTitle content=headerCopy link="#portfolio-main" -%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-lg-offset-1">
            {% assign blogCallout = site.data.content.main.blog-callout %}
            {%- include snippets/callout.html title=blogTitle content=blogCopy links=blogLinks image="https://picsum.photos/1024/768?random=5" -%}
            
            {%- include sections/portfolio-main.html -%}

            {% assign dblCallout = site.data.content.main.double-callout %}
            {%- include snippets/double-callout.html callouts=dblCallout -%}

            {% assign dlCallout = site.data.content.main.download-callout %}
            {%- include snippets/callout.html title=dlTitle content=dlCopy links=dlLinks image=dlBG display-options="repeat center" -%}
        </div>
    </div>
</div>
{% assign enderTitle = site.data.content.main.ender.title %}
{% assign enderCopy = site.data.content.main.ender.copy %}
{%- include sections/ender.html title=enderTitle content=enderCopy -%}
{%- include sections/contact.html -%}