---
layout: default
js-postload-files: 
  - /portfolio/assets/js/blog.js
---
{%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
{%- include snippets/hero-image.html img-src="https://picsum.photos/1600/500?random=1" -%}
<section id="post-main">
    <div id="post-container" class="content-wrapper my-4 mx-auto">
        <div class="row g-0">
            <div class="col-md-8">
                <article class="blog-post p-4 p-lg-0">
                    <h2 class="blog-post-title">{{ page.title }}</h2>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <p class="blog-post-meta mb-0"><small class="text-muted">{{ page.date | date: date_format }} by <a class="no-underline" href="#">{{ page.author }}</a></small></p>
                            <p class="blog-post-meta mb-0"><small class="text-muted">{%- include snippets/reading-time.html -%}</small></p>
                        </div>
                        <div>
                        {%- include snippets/share-buttons.html -%}
                        </div>
                    </div>
                    <hr class="block-label-hr">
                    {{ page.content }}
                    <nav class="d-flex align-items-center justify-content-between mt-5">
                        {%- if page.previous.url -%}
                        <a class="btn btn-outline-light py-1 px-2 me-auto text-right" href="{{ site.baseurl }}{{ page.previous.url }}" title="previous post" style="max-width: 300px;">
                            <p class="p-0 m-0 text-right"><i class="bi bi-rewind"></i> Previous Post</p>
                            <p class="p-0 m-0 text-muted text-right"><small>{{ page.previous.title | truncatewords: 5 }}</small></p>
                        </a>
                        {%- endif -%}
                        {%- if page.next.url -%}
                        <a class="btn btn-outline-light py-1 px-2 ms-auto text-left" href="{{ site.baseurl }}{{ page.next.url }}" title="next post" style="max-width: 300px;">
                            <p class="p-0 m-0 text-left">Next Post <i class="bi bi-fast-forward"></i></p>
                            <p class="p-0 m-0 text-muted text-left"><small>{{ page.next.title | truncatewords: 5 }}</small></p>
                        </a>
                        {%- endif -%}
                    </nav>
                    <hr class="mb-0">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <input id="{{ page.title | slugify }}-lmt" type="hidden" value="{{ page.last-modified | date_to_xmlschema }}">
                            <p><small class="text-muted" get-time-since="{{ page.title | slugify }}-lmt" get-time-since-fallback="{{ page.date | date_to_xmlschema }}"></small></p>
                        </div>
                        <div>
                            {%- include snippets/like-button.html -%}
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <div class="position-sticky sticky-top-offset">
                    {%- if page.categories.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-folder"></i> Categories</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for category in page.categories -%}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ category.url }}">{{ category | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {%- if page.tags.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-tags"></i> Tags</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for tag in page.tags -%}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ tag.url }}">{{ tag | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {% assign posts = site.posts | where: 'tags', page.tags %}
                    {%- if posts.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-symmetry-vertical"></i> Similar</h6>
                        <hr class="block-label-hr">
                        <ul class="list-unstyled">
                            {%- for post in posts -%}
                            <li><a href="{{ post.url }}">{{ post.title | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    <div class="p-4 d-block d-md-none">
                        <h6 class="block-label"><i class="bi bi-share"></i> Share</h6>
                        <hr class="block-label-hr">
                        {%- include snippets/share-buttons.html -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- include sections/contact.html -%}