---
layout: default
---
{%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
{% include hero-image.html img-src="https://picsum.photos/1600/500?random=1" %}
<section id="post-main">
    <div id="post-container" class="my-4 mx-auto" style="max-width: 950px;">
        <div class="row g-0">
            <div class="col-md-8">
                <article class="blog-post p-4 p-lg-0">
                    <h2 class="blog-post-title">{{ page.title }}</h2>
                    <p class="blog-post-meta mb-0"><small class="text-muted">{{ page.date | date: date_format }} by <a class="no-underline" href="#">{{ page.author }}</a></small></p>
                    <hr class="block-label-hr">
                    <div class="d-flex align-items-center">
                        <p class="blog-post-meta mb-0"><small class="text-muted">{% include reading-time.html %}</small></p>
                    </div>
                    <hr>
                    {{ page.content }}
                    <hr>
                    <input id="{{ page.title | slugify }}-lmt" type="hidden" value="{{ page.last-modified | date_to_xmlschema }}">
                    <p><small class="text-muted" get-time-since="{{ page.title | slugify }}-lmt" get-time-since-fallback="{{ page.date | date: date_format }}"></small></p>
                </article>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 62px;">
                    <div class="p-4 mb-3 rounded">
                        <h4>About</h4>
                        <p class="mb-0">{{ page.excerpt }}</p>
                    </div>
                    {%- if page.tags.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-tags"></i> Tags</h6>
                        <hr class="block-label-hr">
                        <ol class="list-unstyled mb-0">
                            {%- for tag in page.tags -%}
                            <li><a class="btn btn-outline-light py-1 px-2 me-2" href="{{ tag.url }}">{{ tag | capitalize }}</a></li>
                            {%- endfor -%}
                        </ol>
                    </div>
                    {%- endif -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-share"></i> Share</h6>
                        <hr class="block-label-hr">
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- include contact.html -%}