---
layout: default
js-postload-files: 
  - /portfolio/assets/js/blog.js
---
{%- assign date_format = site.date_format | default: "%A, %B %e, %Y" -%}
{% include hero-image.html img-src="https://picsum.photos/1600/500?random=1" %}
<section id="post-main">
    <div id="post-container" class="my-4 mx-auto" style="max-width: 950px;">
        <div class="row g-0">
            <div class="col-md-8">
                <article class="blog-post p-4 p-lg-0">
                    <h2 class="blog-post-title">{{ page.title }}</h2>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <p class="blog-post-meta mb-0"><small class="text-muted">{{ page.date | date: date_format }} by <a class="no-underline" href="#">{{ page.author }}</a></small></p>
                            <p class="blog-post-meta mb-0"><small class="text-muted">{% include reading-time.html %}</small></p>
                        </div>
                        <div>
                        {% include share-buttons.html %}
                        </div>
                    </div>
                    <hr class="block-label-hr">
                    {{ page.content }}
                    <div class="d-flex align-items-center justify-content-between mt-2">
                        {%- if page.previous.url -%}
                        <a class="btn btn-outline-light py-1 px-2 me-auto" href="{{ site.baseurl }}{{ page.previous.url }}">Previous Post</a>
                        {%- endif -%}
                        {%- if page.next.url -%}
                        <a class="btn btn-outline-light py-1 px-2 ms-auto" href="{{ site.baseurl }}{{ page.next.url }}">Next Post</a>
                        {%- endif -%}
                    </div>
                    <hr class="mb-0">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <input id="{{ page.title | slugify }}-lmt" type="hidden" value="{{ page.last-modified | date_to_xmlschema }}">
                            <p><small class="text-muted" get-time-since="{{ page.title | slugify }}-lmt" get-time-since-fallback="{{ page.date | date: date_format }}"></small></p>
                        </div>
                        <div>
                            {% include like-button.html %}
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 62px;">
                    {%- if page.categories.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-folder"></i> Categories</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for category in page.categories -%}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ category.url }}">{{ category | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    {%- if page.tags.size > 0 -%}
                    <div class="p-4">
                        <h6 class="block-label"><i class="bi bi-tags"></i> Tags</h6>
                        <hr class="block-label-hr">
                        <ul class="list-inline">
                            {%- for tag in page.tags -%}
                            <li class="list-inline-item"><a class="btn btn-sm btn-outline-light py-1 px-2" href="{{ tag.url }}">{{ tag | capitalize }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}
                    <div class="p-4 d-block d-md-none">
                        <h6 class="block-label"><i class="bi bi-share"></i> Share</h6>
                        <hr class="block-label-hr">
                        {% include share-buttons.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- include contact.html -%}