<section id="callout-{{ include.title | slugify }}">
    <div class="callout highlight-border bs-inner-hover mx-auto my-4 rounded">
        <div class="callout-bg" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 50%), url('{{ include.img-src }}') no-repeat center top;"></div>
        <div class="callout-body">
            <h3 class="display-6 shadow-text user-select-none">{{ include.title }}</h3>
            <p class="lead shadow-text user-select-none">{{ include.content }}</p>
            <a href="{{ include.link }}" class="btn btn-blur stretched-link">{{ include.link-label }}</a>
        </div>
    </div>
</section>
